{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'mainapp/home.css' %}">
{% endblock css %}
{% block content %}
    <div class="container">
        {% if user.is_superuser %}
        <a class="options" href="/edit/class">Add/edit class</a>
        <a class="options" href="/edit/prof">Add/edit Professor</a>
        <a class="options" href="/edit/sub">Add/edit Subjects </a>
        <a class="options" href="/edit/stud">Add/Edit Students list</a>
        {% else %}
        {% for i in data %}
        <a class="options" href="prof/options/{{i.sid}}" style="text-decoration: none;">{{i.name}} for {{i.cid.name}}</a>
        {% endfor %}
        {% endif %}

    </div>
    <script type="text/javascript" src="{% static '/mainapp/home.js' %}"></script>
{% endblock content %}
