{% extends 'base.html' %}
{% load static %}
{% block css %}
{% load getattribute %}
<link rel="stylesheet" href="{% static 'mainapp/sheet.css' %}">
{% endblock css %}
{% block content %}
<div class="menu-container">
    <div class="forward">
        <div class="upload add-button">Add Student +</div>
        <div class="upload add-button">Upload &#8593;</div>
        <div class="option add-button">
            <div class="add-button selected choice" onclick="selectMe(this)">For class</div>
            <div class="add-button choice" onclick="selectMe(this)">For Partial Subject</div>
        </div>
    </div>
    <div class="submit add-button">
        Submit
    </div>
</div>
<div class="container">
    <div class="inner-container">
        <div class="grid-container" id="grid-container">
            <div class="grid-header">
                <div class="element"></div>
                <div class="element">
                    <div class="title">Rollno</div>
                </div>
                <div class="element">
                    <div class="title">Name</div>
                </div>
                <div class="element">
                    <div class="title">Class</div>
                </div>

            </div>
            {% for a in data %}
            <div class="del" onclick="DeleteRow(this)">&nbsp;-&nbsp;</div>
            <input class="element" type="number" value="{{a.rollno}}" onchange="UpdateRow(this)" id="input{{a.rollno}}" onkeyup="move(event)">
            <input class="element" type="text" value="{{a.name}}" id="input{{a.name}}{{a.rollno}}" onkeyup="move(event)">
            <input class="element" type="text" value="{{a.cid.name}}" id="input{{a.cid.name}}{{a.ro}" onkeyup="move(event)">
            {% endfor %}
            <div class="del" onclick="DeleteRow(this)">&nbsp;-&nbsp;</div>
            <input class="element" type="number" value="" id="input4" onchange="UpdateRow(this)" onkeyup="move(event)">
            <input class="element" type="text" value="" id="input5" onkeyup="move(event)">
            <input class="element" type="text" value="" id="input6" onkeyup="move(event)">

        </div>
    </div>
    <div class="panel">
        <div class="top-class-section" id="top-class-section">
            <div class="class-menu">
                Selected class
            </div>
            <div class="select-conatiner">
            <select name="class" id="class" class="class">
                {% for a in class %}
                <option value="{{a.id}}">{{a.name}}</option>
                {% endfor %}
            </select>
        </div>
        </div>
        <div class="top-section" id="top-section">
            <div class="top-menu menu">
                Selected Subjects
            </div>
            <div class="top-inner area">
                <div class="card-container" id="added-card">
            </div></div>
        </div>
        <div class="bottom-section" id="bottom-section">
            <div class="bottom-menu menu">
                {% csrf_token %}
                <input type="search" id="search" placeholder="Search..." onkeyup="updateOptions(this)">
            </div>
            <div class="bottom-inner area">
                <div class="card-container" id="card-options">
                    {% for val in subject %}
                <div class="card add-card" id="{{val.sid}}" onclick="addCard(this)">{{val.name}}</div>
                {% endfor %}
            </div></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/login/login.js' %}"></script>
<script type="text/javascript" src="{% static '/mainapp/sheet.js' %}"></script>
{% endblock content %}